<% title "Names" %>



<% form_tag(names_path, {:method => 'get', :class => "form"}) do %>
  <p><%= text_area_tag "namelist", params[:namelist], {:size => "30x10"} %></p>
  <p><%= submit_tag "Submit", :disable_with => 'Submiting...' %> or <%= link_to "reset", names_path  %></p>
  
<% end -%>

<div id="output">
  <% if !@names.empty? %>
    <% for name in @names %>
      <%= name %><br />
    <% end %>
  <% else %>
    <%= render :text => "No Results" %>
  <% end %>  
</div>
