<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <meta name="keywords" content="baby names, application, ruby, ruby on rails" />
    <meta name="description" content="content" />
    <meta name="author" content="Chase Southard" />
    <meta name="license" content="MIT" />
    <%= stylesheet_link_tag 'blueprint/screen', 'moniker' %>
    <%= stylesheet_link_tag 'blueprint/print', :media => "print" %>
    <!--[if lt IE 8]>
       <link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container" class="container">
      <div class="span-24 last column">
          <h1>Moniker: <span>a simple name explorer</span></h1>
          <p>
            The genesis of this ridiculous little app was a Ruby script that I constructed a few years ago. An exercise, perhaps. A useful tool, unlikely. It was fun to hack together nonetheless.
          </p>
          <p>
            The function here is simple. Take a list of names. Find every combination of those names. Then, lookup each name's popularity. 
          </p>
      </div>
      <hr style="background-color:pink;"/>
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}", :class => "#{name}" %>
      <%- end -%>
      
      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%>
      
      <%= yield %>
      <div class="clear"></div>
      <div class="span-24 last" id="footer">
        <p>Another marginally useful project by Chase Southard<br />Last updated: 11.28.2009</p>
        <p>Credits<br /><a href="http://www.ssa.gov/OACT/babynames/" title="Popular baby names">Social Security Administration</a><br /><a href="http://kyrug.org/">Kentucky Ruby User Group</a></p>
      </div>
    </div>
  </body>
</html>
